<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zooapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZooApp">
        <activity
            android:name=".BirdShowVIew"
            android:exported="true" />
        <activity
            android:name=".GuidedView"
            android:exported="true" />
        <activity
            android:name=".ShowView"
            android:exported="true" />
        <activity
            android:name=".AnimalFeedingView"
            android:exported="true" />
        <activity
            android:name=".ViewTicketBooking"
            android:exported="true" />
        <activity
            android:name=".PriceRate"
            android:exported="true" />
        <activity
            android:name=".TourBooking"
            android:exported="true" />
        <activity
            android:name=".ForgetPassword"
            android:exported="true" />
        <activity
            android:name=".guided_tour_home"
            android:exported="true" />
        <activity
            android:name=".AnimalFeeding"
            android:exported="true" />
        <activity android:name=".AnimalShowHome" />
        <activity android:name=".LoginDetails" />
        <activity android:name=".Home" />
        <activity android:name=".BirdShow" />
        <activity android:name=".AquariumShow" />
        <activity android:name=".TicketBookDetails" />
        <activity android:name=".Ticketbooking" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>